extends layout

block content
    h1= Project
    // Wrapper
    #wrapper
        br
        input#searchtext(type='text' , placeholder='search documents')
        button#search(type='button') Search		
        br
        br
        h2 Documents List
        #userList
            
        // /USER LIST

        // ADD USER
        // /ADD USER

    // /WRAPPER